---
- name: Get latest Blackbox Exporter version
  shell: |
    curl -s https://api.github.com/repos/prometheus/blackbox_exporter/releases/latest \
    | grep tag_name | cut -d '"' -f4
  register: blackbox_exporter_version
  changed_when: false

- name: Set version without "v"
  set_fact:
    blackbox_exporter_ver: "{{ blackbox_exporter_version.stdout | regex_replace('^v', '') }}"

- name: Create install directory
  file:
    path: /usr/local/bin
    state: directory
    owner: root
    group: root

- name: Download blackbox exporter
  get_url:
    url: https://github.com/prometheus/blackbox_exporter/releases/download/v{{ blackbox_exporter_ver }}/blackbox_exporter-{{ blackbox_exporter_ver }}.linux-amd64.tar.gz
    dest: /tmp/blackbox.tar.gz

- name: Extract blackbox exporter
  unarchive:
    src: /tmp/blackbox.tar.gz
    dest: /usr/local/bin/
    remote_src: yes
    creates: "/usr/local/bin/blackbox_exporter-{{ blackbox_exporter_ver }}.linux-amd64"

- name: Install binary
  command: >
    mv /usr/local/bin/blackbox_exporter-{{ blackbox_exporter_ver }}.linux-amd64 /usr/local/bin/blackbox
  args:
    creates: /usr/local/bin/blackbox

- name: Deploy blackbox config
  template:
    src: blackbox.yml.j2
    dest: "/usr/local/bin/blackbox/blackbox.yml"
  notify: restart blackbox

- name: Deploy systemd service
  template:
    src: blackbox.service.j2
    dest: /etc/systemd/system/blackbox_exporter.service
  notify: restart blackbox

- name: Enable and start blackbox exporter
  systemd:
    name: blackbox_exporter
    enabled: yes
    state: started
    daemon_reload: yes

