[Unit]
Description=Grafana Server
After=network.target

[Service]
User=grafana
Group=grafana
Type=simple
ExecStart=/usr/local/bin/grafana/bin/grafana-server \
--config=/etc/grafana/grafana.ini \
--homepath=/usr/local/bin/grafana \
--packaging=manual
Restart=on-failure
RestartSec=5
LimitNOFILE=10000

[Install]
WantedBy=multi-user.target