apiVersion: 1

datasources:
  - name: Loki
    type: loki
    uid: DS_LOKI
    access: proxy
    url: http://{{ hostvars['web'].private_ip_addr }}:{{ loki_port }}
    isDefault: false
    jsonData:
      maxLines: 1000
