---
- name: Enable Grafana
  systemd:
    name: grafana-server
    enabled: yes
    state: started

- name: Restart Grafana
  systemd:
    name: grafana-server
    state: restarted

- name: Reload systemd
  systemd:
    daemon_reload: yes